* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body {
    background-color:bisque;
    background-image: linear-gradient(to right,lightblue, beige);
    color: #fff;
    line-height: 1.6;
    scroll-behavior: smooth;
}

body{
    background-image: url('NewBackground.webp');
    background-repeat:no-repeat;
    position:center;
    background-attachment: fixed;
    background-size: 100%;
    
}

.logo{
    font-size:30px;
    margin-right:auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.Headermain{
    display:flex;
    background-color: black;
    border-bottom: 1px solid #444;
    border-radius: 50;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin:auto;
}

.navBar li{
    width:160px;
    cursor: pointer;
    margin-top: -3;
    margin-left:-20;

}

.navBar nav{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

.navBar a{
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color:white;
    margin:-3%;
}

.navBar a:hover{
    color:rgb(196, 166, 166)

}

footer {
    padding:40px;
    height:70;
    background-color: black;
    text-align: center;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    
}

footer a{
    color:white;
    text-decoration:none;
}

footer a:hover{
    font-weight: bold;
    text-decoration: underline;
}


.profile-icon{
    width:40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 40px;
    border:6px
}

.container{
    border-radius: 50px;
    height:40px;
    margin:auto;
    text-align: center;

}

.pfp{
    display:block;
    margin:auto;
    width:250px;
    border-radius: 50px;
}


.main-contact{
    font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}

.containers{
    display:flex;;
    width:400px;
    height: 500px;
    border-radius: 100px;
    align-items: center;
    font-size: 30px;
    margin:auto;

}
/*-- This was mainly used for About me portion. Needed it for the introduction part-- */
.containers1{
    display:flex;
    width:650px;
    height: 500px;
    border-radius: 100px;
    font-size: 30px;
    margin:auto;

}
/*--myvideo is the video in About me section/ transform 
was mainly used to move the video from bottom right to the middle-- */
.myvideo{
    margin:auto;
    transform: translateY(-300px);
    width:700px
}
.video-elem{
    width:110%;
}

/*Contact Form */
input[type=text ],select, textarea {

    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit]{
    background-image:linear-gradient(to right,lightblue, beige);
    color:black;
    padding: 12px 20px;
    border-color: black;
    border-radius: 4px;
    cursor:pointer;

}

.Formcontainer{
    border-radius:5px;
    background-color:grey;
    padding:20px;
    width: 600px;
    margin:auto;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right:15%;
}

.main-contact{
    text-align: center

    
}

.project1{

    margin: center;
    text-align: center;
    border-radius: 9;
}

.ProjectImg2{

    text-align: center;
}

.projects{

    text-align: center;
    font-weight: bolder;
}